{% include 'header.html' %}
<style>
  .cvall_menu:hover {
    background-color: #F1EFEF;
    color: #4999D7;
  }

  .cvall_action:hover {
    color: #4999D7 !important;
  }

  .cvall_link:hover {
    color: #004AAD !important;
  }
</style>

<div style="margin-left: 30px; padding-right: 30px;">
  <p style="font-size: 18px; margin-top: 30px;">
    <a style="text-decoration: none; color: #4999D7;" class="cvall_link" href="/">Home</a>
    <a style="text-decoration: none; color: #4999D7;" class="cvall_link" href="/data/datasets"> > Data
      Preparation</a>
    <a style="text-decoration: none; color: #4999D7;" class="cvall_link"
      href="/review_dataset?dataset_name={{dataset_name}}"> > {{dataset_name}}</a>
    <a style="text-decoration: none; color: #4999D7;" class="cvall_link"
      href="/data_augment?dataset_name={{dataset_name}}"> > Data Augmentation</a>
  </p>
  <div class="row flex-nowrap" style="margin-left: 0">
    {% include 'data/data_menu.html' %}
    <main class="col ps-md-2 pt-2">
      <div style="font-size: 24px; font-weight: bold; margin-top: -15px; margin-bottom: 15px;">
        Data Preparation | {{dataset_name}} | Data Augmentation
      </div>
      <div class="row" style="color: #004AAD;">
        <p class="col-auto cvall_action" type="button">
          <i class="fas fa-plus-circle"></i> Create New Augmentation Dataset
        </p>
      </div>

      <table id="augmentation_table" class="display" style="width: 100%;">
        <thead>
          <tr>
            <th>Augmentation Name</th>
            <th>Dataset</th>
            <th>Date of Created</th>
            <th>Type</th>
            <th>Number of Images</th>
            <th>Number of Objects</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

      <script>
        $("#augment_data_menu").css("background-color", "#F1EFEF");
        table = $('#augmentation_table').DataTable({})
      </script>
  </div>