{% include 'header.html' %}
<style>
    .cvall_menu:hover {
        background-color: #F1EFEF;
        color: #4999D7;
    }

    .cvall_action:hover {
        color: #4999D7 !important;
    }

    .cvall_link:hover {
        color: #004AAD !important;
    }
</style>
<div style="margin-left: 30px; padding-right: 30px;">
    <p style="font-size: 18px; margin-top: 30px;">
        <a style="text-decoration: none; color: #4999D7;" class="cvall_link" href="/">Home</a>
        <a style="text-decoration: none; color: #4999D7;" class="cvall_link" href="/data/datasets"> > Data
            Preparation</a>
        <a style="text-decoration: none; color: #4999D7;" class="cvall_link"
            href="/review_dataset?dataset_name={{dataset_name}}"> > {{dataset_name}}</a>
        <a style="text-decoration: none; color: #4999D7;" class="cvall_link"
            href="/data_annotation?dataset_name={{dataset_name}}"> > Data Annotation</a>
    </p>
    <div class="row flex-nowrap" style="margin-left: 0">
        {% include 'data/data_menu.html' %}
        <main class="col ps-md-2 pt-2">
            <div style="font-size: 24px; font-weight: bold; margin-top: -15px; margin-bottom: 15px;">
                Data Preparation | {{dataset_name}} | Data Annotation
            </div>
            <div class="row" style="color: #004AAD;">
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-vector-square"></i> Bounding Box
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-draw-polygon"></i> Polygon
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-magic"></i> Auto-Labeling
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-hand-sparkles"></i> Magic Click
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-search-plus"></i> Zoom In
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-search-minus"></i> Zoom Out
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-file-import"></i> Import Annotation
                </p>
                <p class="col-auto cvall_action" type="button">
                    <i class="fas fa-times" style="color: red;"></i> Delete Annotation
                </p>
            </div>
            <div class="row">
                <div class="col-auto" style="height: 600px!important;">
                    <div class="text-center" style="font-size: 14px;">
                        <a href="" class="cvall_action" style="text-decoration: none;">
                            <i class="fas fa-chevron-left"></i>
                            Previous</a>
                        <b> | 512/1032 | </b>
                        <a href="" class="cvall_action" style="text-decoration: none;">Next <i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                    <p style="font-size: 11px; margin-bottom: 0px;">image_demo_1.jpg (1200x758)</p>
                    <img class="img-fluid" style="height: 100%; width: auto;"
                        src="https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="">
                    <!-- <i class="fas fa-times col-auto" style="margin-left: -45px; margin-top: 5px; color: red;" type="button"></i> -->
                    <p style="font-size: 11px;">15th Jan 2024, 17:17:43.123</p>
                </div>
                <div class="col-auto" style="min-width: 300px; height: 600px!important;">
                    <div style="font-size: 15px; font-weight: bold;">
                        Objects on the image
                    </div>
                    <div style="font-size: 12px; ">
                        <a style="text-decoration: none; color: black;">
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                Plastic
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                Metal
                            </p>
                        </a>
                    </div>
                    <hr>
                    <div style="font-size: 15px; font-weight: bold;">
                        All Images
                    </div>
                    <p style="font-size: 12px;"><b>312/1233</b> images have annotated</p>
                    <div style="font-size: 12px; max-height: 100%; text-overflow: clip;">
                        <a style="text-decoration: none; color: black; ">
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD; background-color: #d2f8d2;">
                                image_0001.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD; background-color: #d2f8d2;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD; background-color: #d2f8d2;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD; background-color: #F1EFEF;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                       
                        <a>
                            <p class="cvall_menu" type="button" id="upload_data_menu"
                                style="margin: 0; height: 20px; padding-left: 5px; padding-top: 1px; color: #004AAD;">
                                image_0002.jpg
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </main>

    </div>

    <script>
        $("#annotation_data_menu").css("background-color", "#F1EFEF");

    </script>
</div>