{% include 'header.html' %}

<div class="container">
    <br>
    {% include 'data_process.html' %}
    <br>
    <div class="alert alert-info" role="alert">
        You are reviewing all infomation of dataset <strong>{{dataset_name}}</strong>
    </div>
    <div class="row">
        <img style="width: 50%;" class="img-fluid" src="static/classes_nbr.jpg" alt="">
        <img style="width: 50%;" class="img-fluid" src="static/size_ratio.jpg" alt="">
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Business Secarino</td>
                <td><span class="badge bg-warning text-dark">{{dataset_info['dataset_secarino']}}</span></td>
            </tr>
            <tr>
                <td>Dataset Type</td>
                <td><span class="badge bg-primary text-light">{{dataset_info['dataset_type']}}</span></td>
            </tr>
            <tr>
                <td>Created Date</td>
                <td><span class="badge bg-success text-light">{{dataset_info['created_date']}}</span></td>
            </tr>
            <tr>
                <td>Dataset Classes</td>
                <td>
                    {% for class in dataset_info['class_list'] %}
                    <span class="badge bg-info text-dark">{{class}}</span>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Number of Images</td>
                <td><span class="badge bg-dark text-light">{{dataset_info['nbr_images']}}</span></td>
            </tr>

        </tbody>
    </table>

    <script>
        $("#explore_progress").addClass("active");
    </script>
</div>