<div class="col-auto px-0">
    <div id="sidebar" class="collapse collapse-horizontal show">
        <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <p style="font-size: 18px; font-weight: bold; padding-right: 150px;">CVall Services</p>
            <a style="text-decoration: none; color: black;"
                href="/review_model?model_name={{model_name}}">
                <p class="cvall_menu" type="button" id="model_overview_menu"
                    style="margin: 0;height: 30px; padding-left: 15px; padding-top: 4px;">
                    <i class="fas fa-cogs" style="color: #004AAD; margin-right: 10px; width: 8%;"></i>Overview
                </p>
            </a>
            <a style="text-decoration: none; color: black;"
                href="/train_model?model_name={{model_name}}">
                <p class="cvall_menu" type="button" id="model_training_menu"
                    style="margin: 0;height: 30px; padding-left: 15px; padding-top: 4px;">
                    <i class="fab fa-connectdevelop" style="color: #004AAD; margin-right: 10px; width: 8%;"></i>Training
                </p>
            </a>
            <a style="text-decoration: none; color: black;" href="#">
                <p class="cvall_menu" type="button" id="model_guide_menu"
                    style="margin: 0; height: 30px; padding-left: 15px; padding-top: 4px;">
                    <i class="fas fa-book" style="color: #004AAD; margin-right: 10px; width: 8%;"></i>Guide
                </p>
            </a>
        </div>
    </div>
</div>
<div class="col-auto cvall_link" id="collapse_menu_button"
    style="padding-top: 3px; font-size: 14px; color: #4999D7; margin-left: -18px; padding-left: 0px;">
    <p class="text-decoration-none" type="button" onclick="collapse_menu()">
        <i id="collapse_icon_1" class="fas fa-chevron-left"></i><i id="collapse_icon_2"
            class="fas fa-chevron-left"></i>
    </p>
</div>
<script>
        function collapse_menu() {
            is_shown = $("#sidebar").hasClass("show");
            console.log(is_shown)
            if (is_shown == true) {
                $("#collapse_menu_button").css("margin-left", "0px")
                $("#sidebar").removeClass("show")
                $("#collapse_icon_1").removeClass("fa-chevron-left")
                $("#collapse_icon_1").addClass("fa-chevron-right")

                $("#collapse_icon_2").removeClass("fa-chevron-left")
                $("#collapse_icon_2").addClass("fa-chevron-right")

            }
            else {
                $("#collapse_menu_button").css("margin-left", "-18px")
                $("#sidebar").addClass("show")
                $("#collapse_icon_1").removeClass("fa-chevron-right")
                $("#collapse_icon_1").addClass("fa-chevron-left")

                $("#collapse_icon_2").removeClass("fa-chevron-right")
                $("#collapse_icon_2").addClass("fa-chevron-left")
            }
        }
</script>