{% include 'header.html' %}
<style>
    .cvall_menu:hover {
        background-color: #F1EFEF;
        color: #4999D7;
    }

    .cvall_action:hover {
        color: #4999D7 !important;
    }

    .cvall_link:hover {
        color: #004AAD !important;
    }
</style>
<div style="margin-left: 30px; padding-right: 30px;">
    <p style="font-size: 18px; margin-top: 30px;">
        <a style="text-decoration: none; color: #4999D7;" class="cvall_link" href="/">Home</a>
        <a style="text-decoration: none; color: #4999D7;" class="cvall_link" href="/train"> > Modeling</a>
    </p>
    <div class="row flex-nowrap" style="margin-left: 0">
        {% include 'modeling/model_menu.html' %}
        <main class="col ps-md-2 pt-2">
            <div style="font-size: 24px; font-weight: bold; margin-top: -15px; margin-bottom: 15px;">
                Modeling
            </div>
            <div class="row" style="color: #004AAD;">
                <p class="col-auto cvall_action" data-bs-toggle="modal" data-bs-target="#add_model" type="button">
                    <i class="fas fa-plus-circle"></i> Create New Model
                </p>
                <div class="modal fade" id="add_model" tabindex="-1" aria-labelledby="add_modelLabel" style="color: black;"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form action="/add_new_model" method="POST">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="add_modelLabel">Create New model</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <div class="mb-3">
                                        <label for="model_name" class="form-label">Model Name</label>
                                        <input name="model_name" oninput="check_model()" type="text"
                                            class="form-control" id="model_name" aria-describedby="modelHelp">
                                        <div id="name_warning" class="form-text">Please input an unique name for model
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <label>Train Dataset</label>
                                        <select class="form-select" id="trainset" name="trainset"
                                            aria-label="Train Dataset">
                                            {% for trainset in all_trainset %}
                                            <option value="{{trainset}}">{{trainset}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label>Test Dataset</label>
                                        <select class="form-select" id="testset" name="testset"
                                            aria-label="Valid Dataset">
                                            {% for testset in all_testset %}
                                            <option value="{{testset}}">{{testset}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="model_decs" class="form-label">Model Description</label>
                                        <textarea name="model_decs" type="text" class="form-control"
                                            id="model_decs"></textarea>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" id="create_button" type="button" class="btn btn-primary"
                                        disabled>Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <table id="model_table" class="display" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Model Name</th>
                            <th>Train Set</th>
                            <th>Test Set</th>
                            <th>Description</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>

<script>
    var class_i = 0;
    $("#models_menu").css("background-color", "#F1EFEF");
    // $(document).ready(function () {
    //     $('#model_table').DataTable();
    // });
    $(document).ready(function () {
        fetch('/get_all_models').then(response => {
            return response.json();
        }).then(results => {
            console.log(results);
            table = $('#model_table').DataTable({
                "data": results,
                "columns": [
                    { "data": "model_name" },
                    { "data": "trainset" },
                    { "data": "testset" },
                    { "data": "desc" },
                    { "data": "created_date" },
                    { "": null }
                ],
                "columnDefs": [
                    {
                        targets: -1,
                        "searchable": false,
                        "orderable": false,
                        render: function (data, type, row, meta) {
                            console.log(row['row_id']);
                            start_div = "<div class='row'>"
                            review_button = '<div style="width:50%"><a style="width:100%" class="btn btn-info" href="/review_model?model_name=' + row['model_name'] + '"><i class="far fa-edit"></i></a></div>'
                            delete_button = '<div style="width:50%"><form style="width:100%" action="delete_model" method="POST"><button style="width:100%" name="dl_model" type="submit" class="btn btn-danger dl_model" value="' + row['model_name'] + '""><i class="far fa-trash-alt"></i></button></form></div>';
                            if (row['model_name'] == 'base_model') {
                                review_button = '<div style="width:50%"><a style="width:100%" class="btn btn-info disabled" href="/review_model?model_name=' + row['model_name'] + '"><i class="far fa-edit"></i></a></div>'
                                delete_button = '<div style="width:50%"><form style="width:100%" action="delete_model" method="POST"><button disabled style="width:100%" name="dl_model" type="submit" class="btn btn-danger dl_model" value="' + row['model_name'] + '""><i class="far fa-trash-alt"></i></button></form></div>';
                            }
                            end_div = "</div>"
                            return start_div + review_button + delete_button + end_div;
                        }
                    }
                ]
            });
        });
    });


    function check_model() {
        model_name = $("#model_name").val();
        $.ajax({
            type: 'POST',
            url: "/check_model_name",
            data: {
                model_name: model_name
            },
            success: function (resultData) {
                if (resultData == 'true' && model_name != '') {
                    $("#name_warning").text("This name is valid.");
                    $("#name_warning").css("color", "green");
                    $("#create_button").removeAttr("disabled")
                }
                else {
                    $("#name_warning").text("This name is existed or invalid.");
                    $("#name_warning").css("color", "red");
                    $("#create_button").attr("disabled", "disabled")
                }
            }
        });
    }

</script>

</div>